* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;
}

div section {
    margin: 10px;
    padding: 10px;
    background-color: yellow;
}
#section-1{
    background-color: red;
    font-color: white;
}

#section-2 {
    background-color: blue;
    font-color: white;
}

#section-3 {
    background-color: purple;
    font-color: white;
}

#text > h3 {
    margin-bottom: 15px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
    background-color: yellow;
}
